.customers-container{
    margin: 20px;
    padding: 20px;
}
.customers-container h2{
    text-align: center;
}
.customers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
@media only screen and (max-width: 600px) {
     .customers{
        display: grid;
        grid-template-columns: 1fr;
    }
}