.header{
    display: flex;
    background-color: lightcyan;
}
.nav-bar{
    margin: 0px auto;
    padding: 20px;
}
.nav-bar a{
    text-decoration: none;
    margin : 0px 7px;
    color: black;
    font-weight: 700;
    
}
.nav-bar a:hover{
    color: orangered;
}